.post-card {
  background-color: #010409;
  border-width: 1px;
  border-color: rgb(49, 49, 49);
  border-radius: 5px;
  transition-delay: 0.15s;
}

.profile-pic {
  position: relative;
  top: -70px;
}

.avatar-pic {
  box-shadow: 4px 0px 8px 1px rgba(0, 0, 0.1, 0.3);
}

.cover-pic {
  object-fit: cover;
  height: 400px;
}
