.like-icon {
  color: aliceblue;
}

.like-icon:hover {
  color: red;
}

.comment-icon {
  color: aliceblue;
}

.comment-icon:hover {
  color: rgb(27, 106, 151);
}

.post-pic {
  object-fit: cover;
  width: 272px;
  height: 100px;
}

.content {
  white-space: pre-line;
}
