:root {
  --clr-bg-primary: #2b3648;
  --clr-text: #708da2;
  --clr-hover: rgba(255, 255, 255);
  --clr-border: 1px solid rgba(255, 255, 255, 0.12);
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg-primary);
  border: var(--clr-border);
  border-radius: 20px;
  height: 2em;
  width: 100px;
  gap: 0.1em;
  cursor: pointer;
  color: var(--clr-text);
  margin-bottom: 15px;
}

.icon {
  transition: all 0.4s ease;
}

.tab:hover .icon {
  color: var(--clr-hover);
  border-color: var(--clr-border);
}
/* color changes to default. need to fix this */
.ant-btn:hover {
  color: var(--clr-hover);
  border-color: var(-clr-border);
}
