.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  background-color: #2b3648;
  border-radius: 20px;
  height: 2em;
  width: 100px;
  gap: 5px;
  cursor: pointer;
  text-align: center;
}

.label {
  border: 5px solid red;
  pointer-events: none;
}
.icon {
  color: gray;

  transition: all 0.2s ease;
}
.tab:hover .icon:hover {
  color: white;
}
